.sidebar-wrapper {
  padding-top: 1rem;
}

.content-wrapper {
  overflow-y: auto;
  height: 100vh;
}
.card-sg {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#buttons .btn {
  margin: 0 5px;
}

.badge-space,
.popover-space,
.spinner-space {
  margin-right: 1rem;
}
